<mgl-map
  [style]="style"
  [zoom]="[this.mapService.zoomLevel]"
  [center]="this.mapService.center"
  (mapClick)="onMapClick($event)"
>
  @for (waypoint of this.mapService.waypoints(); track waypoint.id) {
    <mgl-marker
      [lngLat]="[waypoint.lon, waypoint.lat]"
      [draggable]="true"
      (markerDragEnd)="onDragEnd($event, $index)"
    ></mgl-marker>
  }

  <mgl-geojson-source id="oneline">
    <!-- here we need to track some path-specific data, as 'geometry' is not responsive to updates -->
    <!-- TODO this is not great as this will create new DOM nodes at every call of pathGeometry -->
    @for (subpath of mapService.edges(); track subpath ) {
      <mgl-feature [geometry]="{
        type: 'LineString',
        coordinates: coordinatesFromSubpath(subpath)
      }"> </mgl-feature>
    }
  </mgl-geojson-source>
  <mgl-layer
    id="route"
    type="line"
    source="oneline"
    [layout]="{
      'line-join': 'round',
      'line-cap': 'round'
    }"
    [paint]="{
      'line-color': '#888',
      'line-width': 8
    }"
  >
  </mgl-layer>
</mgl-map>