<mgl-map
  [style]="style"
  [zoom]="[this.mapService.zoomLevel]"
  [center]="this.mapService.center"
  (mapClick)="onMapClick($event)"
>
  @for (waypoint of this.mapService.waypoints(); track $index) {
    <mgl-marker
      [lngLat]="[waypoint.lon, waypoint.lat]"
    ></mgl-marker>
  }

  <mgl-geojson-source id="oneline">
    <!-- here we need to track some path-specific data, as 'geometry' is not responsive to updates -->
    <!-- TODO we probably need to track something else, as this is not robust if the first coordinates are the same -->
    @for (subpath of pathGeometry(); track subpath[1][0] ) {
      <mgl-feature [geometry]="{
        type: 'LineString',
        coordinates: subpath
      }"> </mgl-feature>
    }
  </mgl-geojson-source>
  <mgl-layer
    id="route"
    type="line"
    source="oneline"
    [layout]="{
      'line-join': 'round',
      'line-cap': 'round'
    }"
    [paint]="{
      'line-color': '#888',
      'line-width': 8
    }"
  >
  </mgl-layer>
</mgl-map>