<div class="sidebar">
  <h3>Map Controls</h3>
  <!-- Add your controls like buttons, forms, etc. -->
  <button (click)="zoomIn()">Zoom In</button>
  <button (click)="zoomOut()">Zoom Out</button>
  
  <ul>
    <!-- TODO what is the right expression for track? both waypoint.id or $index have pros and cons -->
    @for (waypoint of mapService.waypoints(); track waypoint.id) {
      <li>{{waypoint.lat}}, {{waypoint.lon}}
        <button (click)="removeWayPoint($index)">Remove</button>
      </li>
    }
  </ul>
</div>