<aside class="w-80 bg-base-200 p-4">
  <div class="label">
    <span class="label-text">Routing profile</span>
  </div>
  <div class="join w-full max-w-xs flex">
    <select class="select select-bordered join-item flex-1">
      <option disabled selected>Pick one</option>
      <option>Road bike</option>
      <option>Gravel</option>
      <option>Running</option>
    </select>
    <button class="btn btn-primary join-item" onclick="my_modal.showModal()">Edit Profiles</button>
  </div>
  
  <div class="divider"></div>
  
  <div class="space-y-2">
  <h2 class="text-lg font-semibold">Waypoints</h2>
    @for (waypoint of mapService.waypoints(); track waypoint.id) {
      <div class="join w-full max-w-xs flex">
        <button class="btn btn-neutral join-item">{{ $index + 1 }}</button>
        <button class="btn btn-neutral join-item flex-1">
          {{ waypoint.lat | number: '1.3-3' }}, {{ waypoint.lon | number: '1.3-3' }}
        </button>
        <button class="btn join-item btn-primary" (click)="removeWayPoint($index)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        </button>
      </div>
    } @empty {
      <div role="alert" class="alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-info h-6 w-6 shrink-0">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Click on the map to start adding waypoints</span>
      </div>
    }
  </div>

  <div class="divider"></div>

  <div class="space-y-2">
    <h2 class="text-lg font-semibold">Route data</h2>
  
    <div class="stats shadow w-full max-w-xs flex justify-between">
      <div class="stat w-1/2">
        <div class="stat-title">Distance</div>
        <div class="stat-value text-lg">35.23 km</div>
      </div>
    
      <div class="stat w-1/2">
        <div class="stat-title">Time</div>
        <div class="stat-value text-lg">1 h 27 min</div>
      </div>
    </div>

    <div class="stats shadow w-full max-w-xs flex justify-between">
      <div class="stat w-1/2">
        <div class="stat-title">Uphill</div>
        <div class="stat-value text-lg">537 m</div>
      </div>
    
      <div class="stat w-1/2">
        <div class="stat-title">Downhill</div>
        <div class="stat-value text-lg">429 m</div>
      </div>
    </div>

  </div>

  <div class="divider"></div>
  
  <div class="space-y-2">
    <h2 class="text-lg font-semibold">Surfaces</h2>
    <div class="stats stats-vertical shadow w-full max-w-xs">
      <div class="stat">
        <div class="stat-title">Asphalt</div>
        <div class="stat-value text-base">22.3 km</div>
        <div class="stat-desc">
          <progress class="progress" value="60" max="100"></progress>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title">Gravel</div>
        <div class="stat-value text-base">32.3 km</div>
        <div class="stat-desc">
          <progress class="progress progress-warning" value="15" max="100"></progress>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title">Dirt</div>
        <div class="stat-value text-base">22.3 km</div>
        <div class="stat-desc">
          <progress class="progress progress-error" value="26" max="100"></progress>
        </div>
      </div>
    </div>
  </div>

<dialog id="my_modal" class="modal">
  <div class="modal-box">
    <h2 class="text-lg font-semibold">Edit Profiles</h2>

    <div class="space-y-4 mt-4">
      <label class="form-control w-full">
        <div class="label"><span class="label-text">Choose the profile to edit</span></div>
        <div class="flex gap-2">

          <select class="select select-bordered w-1/2" id="optionSelect">
            <option disabled>Road bike</option>
            <option disabled>Gravel</option>
            <option disabled>Running</option>
            <option>X-Wing</option>
          </select>
        
          <div class="join w-1/2">
            <input type="text" id="newOptionInput" class="input input-bordered join-item w-full" placeholder="Add a new profile" />
            <button type="button" class="btn btn-primary join-item" onclick="addNewOption()">Add</button>
          </div>
        </div>
      </label>

      <h2 class="text-lg font-semibold">Profile options</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  
        <label class="form-control w-full">
          <div class="label"><span class="label-text">Asphalt</span></div>
          <input type="range" min="1" max="100" value="50" class="range range-xs range-primary" />
        </label>

        <label class="form-control w-full">
          <div class="label"><span class="label-text">Dirt</span></div>
          <input type="range" min="1" max="100" value="50" class="range range-xs range-primary" />
        </label>

        <label class="form-control w-full">
          <div class="label"><span class="label-text">Gravel</span></div>
          <input type="range" min="1" max="100" value="50" class="range range-xs range-primary" />
        </label>

        <label class="form-control w-full">
          <div class="label"><span class="label-text">Cobbles</span></div>
          <input type="range" min="1" max="100" value="50" class="range range-xs range-primary" />
        </label>
      
        <label class="flex items-center gap-2">
          <input type="checkbox" class="checkbox checkbox-primary" />
          <span>Avoid primary roads</span>
        </label>

        <label class="flex items-center gap-2">
          <input type="checkbox" class="checkbox checkbox-primary" />
          <span>Avoid secondary roads</span>
        </label>
      
        <label class="form-control w-full">
          <div class="label"><span class="label-text">Average speed (km/h)</span></div>
          <input type="number" placeholder="25" class="input input-bordered w-full" />
        </label>
      
        <!-- <label class="form-control w-full">
          <div class="label"><span class="label-text">Average speed (km/h)</span></div>
          <input type="number" placeholder="30" class="input input-bordered w-full" />
        </label> -->
      
      </div>

      <!-- Buttons -->
      <div class="modal-action">
        <button class="btn btn-error">Delete profile</button>
        <form method="dialog">
          <button class="btn btn-primary">Done</button>
        </form>
      </div>
      
    </div>
  </div>
</dialog>

</aside>